@page "/formsample"
@using System.ComponentModel.DataAnnotations;
<h3>表单</h3>
<p>@stu.ToString()</p>

<EditForm Model="@stu" OnValidSubmit="onValidSubmit" OnInvalidSubmit="onInvalidSubmit">

    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-inline">
        姓名：<InputText @bind-Value="stu.name"></InputText>
        <ValidationMessage For="() => stu.name" />
    </div>

    <div class="form-inline">
        年龄：<InputNumber @bind-Value="stu.age"></InputNumber>
    </div>
    <div class="form-inline">
        生日：<InputDate @bind-Value="stu.birthday"></InputDate>
    </div>

    <div class="form-inline">
        是否婚配：  <InputCheckbox @bind-Value="stu.ismarried"></InputCheckbox>
    </div>

    <div class="form-inline">
        现居城市：
        <InputSelect @bind-Value="stu.city">
            <option value="北京">北京</option>
            <option value="上海">上海</option>
            <option value="广州">广州</option>
            <option value="深圳">深圳</option>
        </InputSelect>
    </div>

    <button type="submit">Submit</button>

</EditForm>


@code {

    public class student
    {

        [Required]
        [StringLength(10, ErrorMessage = "名字最大长度不能超过10位")]
        public string name { get; set; } = "码农刚子";     //姓名

        [Range(18, 45, ErrorMessage = "年龄必须在18-45岁之间")]
        public int age { get; set; } = 26; //年龄

        public DateTime birthday { get; set; } = System.DateTime.Now;//生日



        public string city { get; set; } = "深圳";  //所在城市


        public bool ismarried { get; set; } = false; //是否婚配

        public override string ToString()
        {

            return $"姓名：{name}，年龄：{age},生日：{birthday},城市：{city}，是否婚配：{ismarried}";

        }

    }
    public student stu = new student() { };
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(stu);
    }

    public void onSubmit()
    {
        Console.WriteLine("on onSubmit");

    }
    public void onValidSubmit()
    {
        Console.WriteLine("on onValidSubmit");

    }
    public void onInvalidSubmit()
    {
        Console.WriteLine(" onInvalidSubmit");

    }

}