@page "/on-init"

<PageTitle>On Initialized</PageTitle>

<h1>On Initialized Example</h1>

<p>@message</p>

@code {
	private string? message;

	// protected override void OnInitialized() =>
	// 	message = $"Initialized at {DateTime.Now}";


	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(2000);
		message = $"Initialized at {DateTime.Now} after 2 second delay";
	}
}